* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Futura", sans-serif;
}

.wrapper {
	min-height: calc(100vh - 7.5em);
	background: #8e9eab; /* fallback for old browsers */
	background: -webkit-linear-gradient(to top, #8e9eab , #eef2f3); /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to top, #8e9eab , #eef2f3); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

header {
	padding-bottom: 2rem;
}

/*Nav Bar Styling*/

.navbar {
	width: 100%;
	padding-left: 1rem;
	padding-right: 1rem;
	border-bottom: 1px solid rgba(161, 163, 151, .5);
}

.navbar-list {
	list-style: none;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.navbar-list li {
	align-self: center;
}

.navbar-list li a {
	font-weight: lighter;
	color: #A1A397;
	font-variant: small-caps;
	text-decoration: none;
}

.navbar-list li a:hover {
	text-decoration: underline;
	color: rgba(161,163,151,.5);
}

.logobig {
	display: none;
}

.logosmall {
	margin: 0 auto;
	height: 4rem;
	opacity: .75;
}

/*Header Text*/

.header-text {
	margin: 0 auto;
	width: 90%;
}

.header-first-word {
	font-size: 4rem;
	font-style: bold;
	margin-right: .5rem;
	color: rgba(240,78,35,.75);
}

/*Hero Image*/

.hero-container {
	width: 100%;
}

.hero-container img {
	width: 100%;
}

/*Best Sellers*/

.bestsellers-container {
	padding-bottom: 1rem;
}

.card-container {
	display: flex;
	flex-direction: column;
	width: 90%;
	margin: 0 auto;
}

.bestsellers-header h1 {
	margin-left: .5rem;
}

.card {
	border: 2px solid black;
	margin-top: .75rem;
	margin-bottom: .75rem;
}




/*Footer*/



.footer {
	width: 100%;
	height: 6.5em;
	background-color: rgba(161, 163, 151, .5);
	padding-top: 1rem;
}

.social-icons {
	width: 12rem;
	display: flex;
	flex-direction: row;
	flex-wrap: 	nowrap;
	margin: 0 auto;

}

.social-icons a {
	width: 50%;
}

.social-icons a:hover {
	opacity: 0.4;;
}

.social-icons img {
	width: 90%;
}

.copyright {
	color: white;
	text-align: center;

}



/*Media Query*/

@media(min-width: 768px) {
	.logosmall {
		display: none;
	}

	.logobig {
		display: inline;
		height: 6rem;
		padding-top: .5rem;
		padding-bottom: .5rem;
		opacity: .75;
	}

	.navbar-list {
		justify-content: space-around;
	}

	.card-container {
		flex-direction: row;
		justify-content: space-around;
	}

	.card2 {
		margin-left: 1rem;
		margin-right: 1rem;
	}

}














